body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-image: url("../img/bus-vehicles-pattern-background-PMWACG.jpg");
  background-color: whitesmoke;
  background-repeat: repeat;
  /* background-position: center center; */
  /* background-size: 100% 100%; */
  /* background-attachment: fixed; */
}

header {
  /* background-color: white; */
  margin-top: 25px;
  margin-bottom: 25px;
  /* width:  */
}

footer {
  /* background-color: white; */
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {
  /* font-family: 'Kaushan Script', cursive; */
  font-size: 3em;
  text-align: center;
  background-color: white;
  /* width: fit-content; */
}

h3 {
  font-size: 1.5em;
  text-align: center;
  background-color: white;
  /* width: fit-content; */
}

section {
  background-color: white;
  width: max-content;
  margin: auto;
}

section img {
  width: 300px;
  margin: 50px;
}

img:hover {
  cursor: pointer;
}

div {
  background-color: lightgreen;
  padding: 5px;
  width: max-content;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

div:Hover {
  cursor: pointer;
}

#chart {
  height: 450px;
  width: 900px;
  margin: auto;
}