body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-image: url("../img/bus-vehicles-pattern-background-PMWACG.jpg");
  background-color: whitesmoke;
  background-repeat: repeat;
  /* background-position: center center; */
  /* background-size: 100% 100%; */
  /* background-attachment: fixed; */
}

header {
  text-align: center;
  /* background-color: white; */
  margin-top: 25px;
  margin-bottom: 35px;
  /* display: inline-block; */
  /* position: center-center; */
}

main {
  text-align: center;
}

footer {
  /* background-color: white; */
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 6em;
  /* text-align: center; */
  display: inline-block;
  background-color: white;
  /* width: fit-content; */
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3em;
  display: inline-block;
  background-color: white;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  display: inline-block;
  background-color: white;
  /* width: fit-content; */
}

section {
  background-color: white;
  width: max-content;
  margin: auto;
}

section img {
  width: 300px;
  margin: 50px;
}

img:hover {
  cursor: pointer;
}

div {
  background-color: lightgreen;
  padding: 5px;
  width: max-content;
  text-align: center;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

div:Hover {
  cursor: pointer;
}

#chart {
  height: 450px;
  width: 900px;
  margin: auto;
}